

*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.clear-fix{
    clear: both;
}
.nav{
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    font-family: "Roboto", sans-serif;
    padding-top: 1.25rem;
    z-index: 1;
}
.marg{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 85%;
    margin: auto;
}
.log a {
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
}
.ul-nav ul{
    display: flex;
    justify-content: center;
    transition: all 1s;
    position: relative;

}
.ul-nav ul li {
    padding: 0 0.625rem;
    /* background-color: teal; */
    position: relative;
    transition: all 1s;
}
.ul-nav ul li a {
    color: white;
    font-size: 1.25rem;
    position: relative;

}


.ul-nav ul li::after{
    content:"";
    width:0px;
    height:0.1875rem;
    background-color: red;
    position:absolute;
    top:1.875rem;
    left:0;
    transition: all 1s;

}
.ul-nav ul:hover li::after{
    width: 100px;
    background-color: tomato;
}










/* 
انا عاكك شويه في الnavbar بس بجد مش عارف اجيبها يمين او شمال حتي  */
















/* end section navbar */
/* end section navbar */

.home{
    background-color: teal;
    height: 100vh;
    background-image:linear-gradient(rgba(0 , 0 ,0 ,0.6) 0% 100%) , url(Devfolio/hero-bg.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.home .text-home{
    color: white;
    text-align: center;
    font-size: 4.375rem;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}
/* end section home */
/* end section home */



.about{
    background-color: #EEEEEE;
    padding: 1.875rem;
}

.clr{
    background-color: white;
    padding: 1.875rem;
}
.test{
    /* background-color: brown; */
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    
}
.ft{
    border-radius: 5%;
}
.text{
    display: flex;
    flex-direction: column;
    /* background-color: tomato; */
    align-items: flex-start;
    width: 40%;
    margin: auto;
}
.text h6{
    padding: 0.3125rem 0;
}
.cont h1{
    /* background-color: tan; */
    margin-bottom: 1.875rem;
}
.cont{
    position: relative;
}
.cont h1::before{
    content: "";
    width: 7.5rem;
    height: 0.3125rem;
    background-color: #0078FF;
    position: absolute;
    top: 12%;
    left: 0;
}
.services{
    background-color: #EEEEEE;
}
.srv i{
    font-size: 3.125rem;
}
.srv h4{
    padding: 0.625rem 0;
}
.bfre{
    padding: 1.875rem 0;
}
.bfre p{
    position: relative;
    
}
.bfre p::before{
    content: "";
    width: 2.5rem;
    height:.2875rem;
    background-color: #0078FF;
    position: absolute;
    top: 150%;
    left: 49%;
}
.opt{
    margin: 1.25rem 0;
    border-radius: 1.25rem;
}
.opt i{
    padding: 1.25rem;
    border: 5px solid #0078FF;
    width: 30%;
    height: 20%;
    border-radius: 100%;
    transition: all 0.5s;
}
.opt:hover i{
    color: white;
    background-color: #0078FF;
}
.work{
    background-image:linear-gradient(#0077ff7e 0% 100%) ,url(Devfolio/counters-bg.jpg);
    background-size: cover;
    background-position: center center;
    height: 50vh;
    color: white;
    background-attachment: fixed;
}
.work i{
    border: solid 0.3125rem #CDE1F8;
    padding: 0.9365rem 0.9365rem;
    border-radius: 50%;
    font-size: 1.875rem;
}
.work p{
    font-size: 1.5625rem;
    padding-top: 0.625rem;
}
.cant{
    height: 50vh;
}

.portfolio{
    background-color: #F5F5F5;
}
.cont-info span {
    color: #1d87ff;
}
.cont-info{
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}
.text-port{
    /* background-color: brown; */
    width: 70%;
    padding: 1.25rem;
}
.ico-port {
    /* background-color: tomato; */
    padding: 1.25rem;
}
.ico-port i {
    border: 0.3125rem #1d87ff solid; 
    padding: 0.625rem;
    border-radius: 50%;
    color: #0078FF;
}
.con img{
    transition: all 1s;
}
.con{
    margin: 1.25rem 0;
}
.con:hover img{
    transform: scale(1.3);
    overflow: hidden;
}

.cctr{
    overflow: hidden;
    background-color: teal;
}
.foot{
    overflow: hidden;
}

.xavi{
    background-image:linear-gradient(#0077ffaa 0% 100%), url(Devfolio/overlay-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 70vh;
}
.foto-xavi{
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: auto;
    height: 70vh;
    color: white;
}
.xavi img{
    border-radius: 50%;
    background-color: tomato;
}
.foto-xavi h2{
    padding: 0.9375rem 0;
}

.blog{
    background-color: #EEEEEE;
    padding: 1.875rem 0;
}

.cont-morgn{
    background-color: white;
    padding: 0 0.625rem;

}
.cont-morgn h4{
    padding-top: 1.25rem;
}
.morg{
    width: 20%;
    border-radius: 50%;
    /* margin-bottom: 10px; */
    padding: 0 0.625rem;
}

.morgan{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.morgan p{
    padding-top: 0.9375rem;
}
.time{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
    margin: auto;
    padding: 0.625rem ;
}
.time i {
    font-size: 1.25rem;
    padding: 0px 0.3125rem;
    padding-top: 0.3125rem;
}
.brd{
    border-top: 0.0625rem solid gray;
}
.blog-foto{
    position: relative;
}
.layeer::before{
    content: "Travel";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 7.8125rem;
    height:1.5625rem;
    background-color: #09c;
    margin: auto;
    padding: 0 2.5rem;
    transform: translate(-50% , -50%);
    border-radius: 0.3125rem;
    color: white;
}
.layeer2::before{
    content: "WEB DESIGN";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 7.8125rem;
    height:1.5625rem;
    background-color: #09c;
    margin: auto;
    padding: 0 0.9375rem;
    transform: translate(-50% , -50%);
    border-radius: 0.3125rem;
    color: white;
}
.layeer3::before{
    content: "WEB DESIGN";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 7.8125rem;
    height:1.5625rem;
    background-color: #09c;
    margin: auto;
    padding: 0 0.9375rem;
    transform: translate(-50% , -50%);
    border-radius: 0.3125rem;
    color: white;
}

.contact{
    background-image:  linear-gradient(#1d87ffc3 0% 100%),url(Devfolio/overlay-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 5.625rem 0;
}
.our-cont{
    background-color: white;
    padding: 1.875rem;
    width: 90%;
    margin: auto;
}
.contact-info{
    /* background-color: teal; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}
.contact-info h2{
    position: relative;
    padding-bottom: 20px;
}
.contact-info h2::before{
    content: "";
    position: absolute;
    width: 6.875rem;
    height: 0.1875rem;
    background-color: #1d87ff;
    top: 2.8125rem;
    left: 0;
}
#text{
    padding: 0.625rem;
    width: 100%;
    border: 0.0625rem solid #dee2e6;
    border-radius: 0.1875rem;
    margin: 0.625rem;
    margin-left: 0;
}
#email{
    padding:  0.625rem;
    width: 100%;
    border:  0.0625rem solid #dee2e6;
    border-radius: 3px;
    margin:  0.625rem;
    margin-left: 0;

}
#subject{
    padding:  0.625rem;
    width: 100%;
    border:  0.0625rem solid #dee2e6;
    border-radius: 0.1875rem;
    margin:  0.625rem;
    margin-left: 0;

}
#textarea{
    padding: 0.625rem;
    width: 100%;
    border:  0.0625rem solid #dee2e6;
    border-radius:0.1875rem;
    margin:  0.625rem;
    margin-left: 0;
}
.contact-info button{
    background-color: #1d87ff;
    padding:  0.625rem 1.5625rem;
    border-radius: 1.5625rem;
    border: solid  0.0625rem #1d87ff;
    color: white;
    align-self: center;
    margin: 0.9375rem 0;
}
.contact-info2 h2{
    margin-bottom: 1.875rem;
    position: relative;
}
.contact-info2 h2::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 0.188rem;
    top: 2.8125rem;
    left: 0;
    background-color: #1d87ff;
}
.icon-contact i{
    /* background-color: tan; */
    padding: 0.625rem;
    padding-left: 0;
    color: #1d87ff;
}
.all-icon-contact{
    /* background-color: brown; */
    padding-left:  0.625rem;
    margin-top: 1.875rem;
}
.allic{
    padding:  0.625rem 0.9375rem;
    font-size: 1.25rem;
    border: 0.1875rem solid  #1d87ff;
    border-radius: 50%;
    transition: all 0.3s;
}
.allic:hover{
    color: white;
    border: 0.1875rem solid #1d87ff8c;
    background-color: #1d87ff;
}
.copyright{
    background-color: #0077ff;
}
.cont-copy{
    /* background-color: brown; */
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    margin: 1.25rem 0;
}
.arrow{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* background-color: tomato; */
    width: 95%;
    margin: auto;
    padding: 15px 0;
    
}
.arrow i {
    font-size: 1.25rem;
    color: white;
    padding: .625rem;
    border: .125rem solid #1d87ff ;
    border-radius: 50%;
    background-color: #298EFF;
    transition: all 0.3s;

}
.arrow i:hover{
    background-color: #1c71d3;
}